In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data.csv')
df.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10040991237561473144,0,2014-10-21 00:00:00,1005,1,43d6df75,27e3c518,28905ebd,ecad2386,7801e8d9,...,1,0,15703,320,50,1722,0,35,-1,79
1,10220027634458631292,1,2014-10-21 00:00:00,1005,0,5b08c53b,7687a86e,3e814130,ecad2386,7801e8d9,...,1,0,20093,300,250,2295,2,35,-1,23
2,10353033015277123997,1,2014-10-21 00:00:00,1005,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,...,1,0,20362,320,50,2333,0,39,-1,157
3,10404559309779615378,1,2014-10-21 00:00:00,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15705,320,50,1722,0,35,-1,79
4,10440958171495887897,0,2014-10-21 00:00:00,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15707,320,50,1722,0,35,-1,79

In [3]:
# convert to datetime
df['hour'] = pd.to_datetime(df['hour'])
df['hour_of_day'] = df['hour'].dt.hour
df['day_of_week'] = df['hour'].dt.dayofweek

In [4]:
device_id_counts = df['device_id'].value_counts()
df['device_id_counts'] = df['device_id'].map(device_id_counts)

In [ ]:
device_ip_counts = df['device_id'].value_counts()
df['device_id_counts'] = df['device_id'].map(device_ip_counts)

In [6]:
hourly_counts = df.groupby('hour_of_day')['device_ip'].count()
df['hourly_user_ip_count'] = df['hour_of_day'].map(hourly_counts)

In [7]:
weekly_counts = df.groupby('day_of_week')['device_ip'].count()
df['weekly_user_id_counts'] = df['day_of_week'].map(weekly_counts)